---
import { withBase } from "../../utils/config-utils.ts";
const starImageUrl = withBase('/images/star.png');
---

<div>
  <img src={starImageUrl} />
  <img src={starImageUrl} />
  <img src={starImageUrl} />
  <img src={starImageUrl} />
  <img src={starImageUrl} />
</div>

<style>
  div {
    display: flex;
    gap: 1px;
  }

  img {
    width: 11px;
    height: 11px;
  }
</style>
